

      body{margin: 0;
      }
      .bbb{padding-top: 3em;padding-bottom: 4em}
      .ccc{padding-top: 3em}
      .ddd{padding-top: 3em;background-color: #29bde0;padding-bottom: 3em}
      .eee{padding-top: 3em;background-color: #f0f0f0;}
      p{margin: 0;}

      .box{
         width: 100%;
         height: 100%;
         overflow: hidden;
         background-color: #f0f0f0;

      }


      .daohang{
         width: 100%;
         height: 3em;
         position: fixed;
         top: 0;
         z-index: 1;
         display: flex;
         background-color: #29bde0;
         align-items:center;
         justify-content: flex-start;
      }
      .daohang1{
         padding-left: 1.5em;
         flex-wrap: none;
         transform: scale(0.8,0.8)


      }
      .daohang2{
        width: 100%;
        position: absolute;
        top: 0;
        height: 3em;
        padding-top: 0.5em;
        display: flex;
        /*flex-direction: row;*/
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #29bde0;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 1;

      }
      .daohang3{
        width: 3em;
        height: 3em;
        flex-grow: none;
        transform: scale(0.6,0.6);

      }
      .daohang4{
        height: 3em;
        line-height: 3em;
        width: 3em;
        flex-grow:1;
        color: #ffffff;
      }

      .neirong{
         width:100%;
         margin-left: 1em;
         margin-top: 1em;

         text-align: center;

      }
      .neirong1{
         height:4em;
         width: 100%;
         color: #787878;
         background-color: #ffffff;
         line-height: 4em;
         margin-bottom: 1em;
      }
      .neirong2{
         height: 4em;
         width: 100%;
         color: #ffdc35;
         line-height: 4em;
         border-bottom: 1px solid #fdd793;
         background-color: #ffffff;
      }
      .neirong3{
         width: 100%;
         height: auto;
         padding-top: 1em;
         background-color: #ffffff;
         display: flex;
         flex-direction:row;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;


      }
      .neirong4{
         width: 70%;
         height: 3em;
         background-color: #69d1e9;
         color: #ffffff;
         line-height: 3em;

      }
      .neirong5{
         width: 100%;
         color: #787878;
         height: 2.85em;
         line-height: 2.85em;
      }

      .neirong6{
         height: 1em;
         width: 1em;
         border-radius: 50%;
         background-color: #20b2aa;

      }
      .neirong7{
         height: 1em;
         width: 1em;
         border-radius: 50%;
         background-color: #ffdc35;
         margin-left:0.7em;
      }
      .neirong8{
         height: 2em;
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         background-color: #ffffff;
      }
      .neirong9{
         position: absolute;
         right: 1em;
         padding-top: 1em;

        transform: scale(0.6,0.6);
      }
      .neirong10{
         position: absolute;
         right:0.5em;
         top: 22;
         transform: scale(0.5,0.5);
      }
      .neirong11{
         height: 1em;
         width: 1em;
         border-radius: 50%;
         background-color: #66cdaa;
         margin-left:0.7em;
      }
      .neirong12{
         height: 1em;
         width: 1em;
         border-radius: 50%;
         background-color: #dda0dd;
         margin-left:0.7em;
      }


      .neirong13{
         position: absolute;
         right: 0;
         top: 0;
         width: 0.4em;
         height: 100%;
         border-left: 1px solid #e0e0e0;
         z-index: 2;
         background-color: #ffffff;
      }
      .neirong14{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
            margin-left: auto;
            margin-right: auto;
            background-color:#29bde0;
      }

      .neirong16{
        text-align: center;

        width: 5em;
        height: 5em;
        border:3px solid #ffffff;

        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0.5em;
      }
      .neirong17{
        width:100%;
        height: 3.5em;
        line-height: 3.5em;
        background-color: #f5c97b;
        color: #565656;
      }
      .neirong18{
        color: #ffffff;
        width: 100%;
        height: 1.5em;
        line-height: 1.5em;
        background-color: #83b09a;
      }
      .neirong20{
        width: 2em;
        height: 2em;

        background-color: #ffffff;
        transform: scale(0.5,0.5);
        float: left;
        position: relative;
        left: -0.8em;
        top: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;

      }
      .neirong21{
        width: 2em;
        height: 2em;

        background-color: #ffffff;
        transform: scale(0.5,0.5);
        float: left;
        position: relative;
        left: -1.3em;
        top: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;


      }
      .neirong22{
        width: 2em;
        height: 2em;

        background-color: #ffffff;
        transform: scale(0.5,0.5);
        float: left;
        position: relative;
        left: 2em;
        bottom: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;


      }
      .neirong23{
        width: 2em;
        height: 2em;

        background-color: #ffffff;
        transform: scale(0.5,0.5);
        float: left;
        position: relative;
        left: 1.5em;
        bottom:1.5em;
            display: flex;
            justify-content: center;
            align-items: center;


      }

      .neirong19{
        display: none;
        z-index: 1;
      }
        .neirong15{height: 8em;
            width: 33%;

            overflow: hidden;
           /* flex-grow: 1;*/
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items:stretch;
    }
      .neirong15:hover .neirong19{display: block;}

      .daohang5{width: 100%;
        height: 3em;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        background-color: #29bde0;
        border-bottom: 2px solid  #74d4eb;
        position: fixed;
        top: 0;
        z-index: 1;}
    .daohang6{
      width: 3em;
      height: 3em;
      flex-grow: none;
      transform: scale(0.5,0.5);
    }
    .daohang7{
      width: 5em;
      height: 3em;
      line-height: 3em;
      flex-grow: 1;
      color: #ffffff;
    }
    .neirong24{
      background-color: #29bde0;
      width: 100%;
      height: 25em;
      display: flex;
      flex-direction: column;
      /*justify-content: space-around;*/
      align-items: center;
      padding-top: 1em;
      /*text-align: center;*/
    }
    .neirong25{
      width: 15em;
      height: 9em;
      background-image:url(images/a.png);
      background-repeat: no-repeat;
      background-size: 100%;



    }
    .neirong26{
      width: 80%;
      height: 5em;
      color: #ffc865;
      padding-top: 1em;
      /*text-align: center;*/


    }
    .neirong27{
      width: 80%;
      height: 2em;
      line-height: 1.5em;
      color: #ffffff;
      }
    .neirong28{
      width:80%;
      display: flex;
      line-height: 1.5em;
      justify-content: flex-start;
      flex-wrap:wrap;
      align-items: center;

    }
    .neirong29{
      width:5em;
      height: 2em;
      margin-right: 1em;
      line-height: 1.5em;
      color: #ffffff;

    }


    .tishi{
        background-color: #b9e9f5;
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;


      }
      .tishi2{
        flex-grow: 1;
        height: 3em;
        line-height: 3em;
        padding-left: 3em;
      }
      .tishi1{

        flex-grow: none;

        transform: scale(0.6,0.6);
      }
      .tishi3{
        position: absolute;
        left: 2em;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #b9e9f5;
      }
      .tishi4{
        width: 100%;
        height: 3em;
        line-height: 3em;
        padding-left: 3em;
        color: #ffffff;
        background-color:#29bde0;
      }
      .btn_1{width:100%;
         height: 3em;
         background-color: #69d1e9;
         color: #ffffff;
         line-height: 3em;
         border: none;}


      .dibu{
        width: 100%;
        height: 4em;
        position: fixed;
        bottom: 0;
        display: flex;
        /*flex-direction: row;*/
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #29bde0;
        z-index: 1;

      }
      .dibu1{
        width: 70%;
        height: 2.5em;
        line-height: 2.5em;
        background-color: #fbb435;
        text-align: center;
        color: #ffffff;

      }
      .dibu2{
    width: 100%;
    height: 4em;
  /*  background-color: #99dff0;*/
    text-align: center;
    display: flex;
    z-index: 1;

    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 3;

  }
  .dibu5{
    width: 100%;
    height: 4em;
    background-color: #99dff0;

    z-index: 1;


    position: fixed;
    bottom: 0;
    z-index: 2;
    filter:alpha(Opacity=80);
    -moz-opacity:0.5;
    opacity: 0.5;

  }
  .dibu3{
    width: 40%;
    height: 3em;
    border-radius: 2em;
    background-color: #f66f6f;
    line-height: 3em;
  }
  .dibu4{
    width: 40%;
    height: 3em;
    line-height: 3em;
    border-radius: 2em;
    background-color: #fbb435;
    }
    #btn1{
      width: 100%;
    height: 3em;
    border-radius: 2em;
    background-color: #f66f6f;
    line-height: 3em;
    color: #ffffff;
    font-size: 15px;
    border: none;
    }
      a:link,
      a:visited
      {
      color:#ffffff;
      text-decoration:none;
      }
      .daohang5{width: 100%;
        height: 3em;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        background-color: #29bde0;
        border-bottom: 2px solid  #74d4eb;
        position: fixed;
        top: 0;
        z-index: 1;}
    .daohang6{
      width: 3em;
      height: 3em;
      flex-grow: none;
      transform: scale(0.5,0.5);
    }
    .daohang7{
      width: 5em;
      height: 3em;
      line-height: 3em;
      flex-grow: 1;
      color: #ffffff;
    }

    .jingguo{
      width: 100%;
      height: 8em;
      border-bottom: 2px solid  #dddddd;
      padding-bottom: 1em;

    }
    .jingguo1{
      padding-left: 10%;
      width: 30%;
      float: left;
      height:3em;
      line-height: 3em;
      color: #515151;
    }
    .jingguo2{
      padding-top: 0.5em;
      width: 30%;
      float: right;
      height: 3em;
      line-height: 2em;
      color: #d5d5d5;
    }
    .jingguo3{
      width: 90%;
      padding-left: 10%;
      height: 4em;
      float: left;
      color: #a6a6a6;
    }


    #aa{
      color: #444444;
      width: 25%;
      background-color: #ffffff;
      border-right: 1px solid #d9d9d9;
    }
    #aa p{
      width: 30px;
      font-size: 20px;
      display: inline-block;
    }
    table{
    width: 98%;
    margin:1%;
    text-align: center;
    background-color: #fbfbfb;

    }
    #aab{
      color: #29bde0;
      font-size: 20px;
      border-top: 1px solid #d9d9d9;

    }

    table tr td{
      height: 2.3em;
      color: #a1a1a1;
      letter-spacing: 4px;
    }
    table tr td .span1{
      padding: 0.3em;
      display: inline-block;
      background-color: orange;
      margin-right: 0.4em;
    }
    table tr td .span2{
      padding: 0.3em;
      display: inline-block;
      background-color:#29bde0;
      margin-right: 0.4em;
    }
    #bb{padding-left: 2em;
      display: inline-block;
      width: 98em;
      margin:0 1%;
      height: 3em;
      line-height: 3em;
      background-color: #ffffff;}
    #bb input{
      width:1.5em;height: 1.5em;border: none;color:orange;font-size: 18px;text-align: center;background-color: #f4f5f5;
    }
    #numY{
      display: inline-block;width: 15px;
      border:none;font-size: 15px;
      color: #a1a1a1;
      text-align: center;background-color: #fbfbfb;
    }
    #numS{
      display: inline-block;width: 20px;
      border:none;font-size: 15px;
       color: #a1a1a1;
      text-align: center;background-color: #fbfbfb;
    }
    .aac {width: 98%;height: 6em;margin:0 1%;}
    .aac input{width: 95%;
      padding-left: 5%;
      border:none;
      border-bottom: 1px solid #d9d9d9;
      height: 3em;}
    .renshu{
      width: 98%;
      margin:0 1%;
      height: 3em;
      line-height: 3em;
      background-color: #ffffff;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .btn-sub{
      outline: none;
      border: none;
      width: 1em;
      height: 1em;
      /*margin-left: 3em;*/
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-block;
      background: url(images/aa.png) no-repeat center;
    }

    .btn-add{
      outline: none;
      border: none;
      width: 1em;
      height: 1em;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      background: url(images/bb.png) no-repeat center;
      /*display: flex;
      justify-content: center;
      align-items: center;*/
      display: inline-block;
    }


    .renshu input{
      width: 70%;
    }

   #slider{ /*设置滑块下面那条线的样式*/
          outline: none; /*去掉点击时出现的外边框*/
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; /*这三个是去掉那条线原有的默认样式，划重点！！*/
          width: 70%;
          height: 0.3rem;
          background: orange;
          /*这三个是设置滑块下面那条线的样式*/
      }
      input[type="range"]::-webkit-slider-thumb {
          /*::-webkit-slider-thumb是代表给滑块的样式进行变更*/
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; /*//这三个是去掉滑块原有的默认样式，划重点！！*/
          -webkit-box-shadow:0 0 2px ; /*设置滑块的阴影*/
          width: 2.6rem;
          height:1.6rem;
          border-radius: 5px;
          background-image: url(images/p.png);
          background-repeat: no-repeat;
          background-position: center;
          background-color: #ffffff;
          border: 1px solid orange;
          display: flex;
          justify-content: space-around;
          align-items: center;
          /*//这几个是设置滑块的样式*/
      }





      footer{
        width: 98%;
        height: 3em;
        margin: 1%;
        position: fixed;
        bottom: 0;
        display: flex;justify-content:center;align-items: center;
      }
      footer button{width: 100%;height:100%;
        background-color: orange;color: #ffffff;border: none;
        font-size: 20px;display: flex;justify-content:center;align-items: center;}

      .body2{background-color:#29bde0;padding-top: 3em;padding-bottom: 2em;
       }
     .box1{
       width: 100%;
       height: 100%;
       overflow: hidden;
       background-color: #29bde0;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
      }
      .kuang1{
        width: 65%;
        height: 50%;
        background-color: #ffedc5;
        border: 5px solid #ffffff;
        padding: 5.15em 0;
        margin: 3em;
        display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
      }
      .kuang1 .quan{
        width: 1.5em;
        height: 1.5em;
        background-color:#ffffff;
        border: 3px solid #ffedc5;
        color: #f56b81;
        text-align: center;
        font-size: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -5em;

      }
      .kuang1 img{
        width: 60%;
        height: auto;

      }

      .kuang2{
        width: 65%;
        height: 50%;
        background-color: #ffedc5;
        border: 5px solid #ffffff;
        margin: 3em;
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .kuang2 .quan{
        width: 1.5em;
        height: 1.5em;
        background-color:#ffffff;
        border: 3px solid #ffedc5;
        color: #f56b81;
        text-align: center;
        font-size: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -0.9em;

      }
      .kuang2 img{
        width: 50%;
        height: auto;

      }
      .kuang2 .p1{
        color: #29bde0;
        width: 100%;
        height: 3em;
        line-height: 3em;
        text-align: center;


      }
      .kuang2 .p2{
        color: #f56b81;
        width: 100%;
        height: 3em;
        text-align: center;
        line-height: 3em;
        border-bottom: 1px  solid #ffffff;
      }
      .kuang2 .p3{
        width: 80%;
        padding: 1em;
        height: 3.9em;
        color: orange;
        font-size: 15px;
        text-align: left;
      }
      .box2{
         width: 100%;
         height: auto;
         overflow: hidden;
         background-color: #29bde0;
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-wrap: wrap;



      }
      article{
        width: 4em;
        height: 4em;
        margin: 1em;
        border: 3px solid #ffffff;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         background-color: #f5c97b;


      }
      article .p1{
        width: 100%;
        height:2.5em;
        background-color: #f5c97b;
        text-align: center;
        line-height: 2.5em;
        display: none;

      }
      article .p2{
        width: 100%;
        height: 1.5em;
        background-color: #83b09a;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5em
      }
      article:hover .p1{display: inline-block;}
      article:hover .p2{margin-top: 0;}

      .journal{width: 96%;height: auto;display: flex;justify-content: center;align-items: flex-end;margin: 1.5em 2% 0 2%;flex-direction: column;
      background-color: #f7f7f7;border: 1px solid #c9c9c9;}
      .day{color: #29bde0;text-align:center;width: 100%;height: 3em;line-height: 3em;border-bottom: 1px solid #c9c9c9;
      }
      .day img{transform: scale(0.7,0.7);position: absolute;right: 1em;margin-top: 1em}
      .process{width: 93%;height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;border-left: 1px solid #c9c9c9;
      padding-top: 1.5em;}
      .process .oneday{width: 75%;height:2.5em;line-height: 2.5em;text-align: center;background-color: #24a7c6;color:#ffffff;margin-bottom: 1em;margin-left: 0.3em;
      }
      .square+p{text-align: center;color:#ffffff;padding-right: 10px}
      .process .square{
        width: 0;height: 0;border-top:10px solid transparent;
        border-bottom: 10px solid transparent;display: inline-block;
        border-right: 20px solid #24a7c6;float: left;margin-left: -20px;margin-top: 0.6em
      }
      #ghost{margin-top: 2em}
      .sun{width: 2em;height: 2em;display: flex;justify-content: center;align-items: center;border-radius: 50%;border:1px solid #c9c9c9;
        position: absolute;left: 0.7em;bottom: 8.5em;z-index: 11;background-color: #f7f7f7;
      }
      .sun img{transform: scale(0.7,0.7);}
      .moon{width: 2em;height: 2em;display: flex;justify-content: center;align-items: center;border-radius: 50%;border:1px solid #c9c9c9;
        position: absolute;left: 0.7em;bottom: 24.5em;z-index: 11;background-color: #f7f7f7
      }
      .moon img{transform: scale(0.7,0.7);}








      .sprite {
          background-image: url(images/spritesheet.png);
          background-repeat: no-repeat;
          display: block;
      }

      .sprite-a {
          width: 39px;
          height: 40px;
          background-position: -5px -5px;
      }

      .sprite-b {
          width: 36px;
          height: 36px;
          background-position: -54px -5px;
      }

      .sprite-c {
          width: 57px;
          height: 57px;
          background-position: -100px -5px;
      }

      .sprite-d {
          width: 29px;
          height: 21px;
          background-position: -167px -5px;
      }

      .sprite-e {
          width: 20px;
          height: 21px;
          background-position: -206px -5px;
      }

      .sprite-f {
          width: 29px;
          height: 27px;
          background-position: -236px -5px;
      }

      .sprite-g {
          width: 16px;
          height: 17px;
          background-position: -275px -5px;
      }

      .sprite-h {
          width: 43px;
          height: 45px;
          background-position: -301px -5px;
      }

      .sprite-i {
          width: 51px;
          height: 42px;
          background-position: -354px -5px;
      }

      .sprite-j {
          width: 36px;
          height: 29px;
          background-position: -415px -5px;
      }

      .sprite-k {
          width: 24px;
          height: 40px;
          background-position: -461px -5px;
      }
      .sprite-l {
          width: 28px;
          height: 56px;
          background-position: -495px -5px;
      }
 	a:link,a:click,
    a:visited
    {
    color:#ffffff;
    text-decoration:none;
    outline: none;
    }
